.add-icon {
  cursor: pointer;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 0;
  flex-shrink: 0;
  transform: translateY(-50%);
}
