.container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.grow1 {
  flex-grow: 1;
}

.table-content {
  overflow: hidden;
  height: 100%;
  flex-grow: 1;
}

.table-fixed {
  position: absolute;
  top: 0;
  z-index: 2;
}
.table-fixed.left{
  box-shadow: 1px 0px 8px 0px #c1c1c1;
}
.table-fixed.right {
  box-shadow:-2px 0px 8px 0px #c1c1c1
}

.col {
  display: flex;
  position: relative;
  background: #fff;
}

.text-ellipsis {
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.col-cell {
  flex-shrink: 0;
  min-width: 60px;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.col-cell:first-child {
  border-left: 1px solid #ccc;
}
.col:first-child .col-cell{
  border-top: 1px solid #ccc;
}

.scroll-x {
  overflow-y: hidden;
  overflow-x: auto;
}

.scroll-y {
  z-index: 5;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  overflow: auto;
}

.pointer {
  cursor: pointer;
}


